# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs & screenshots
logs/
screenshots/
recordings/
*.log

# Backup
old_backup/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Temp
*.tmp
debug_*.png
